<div id="page_content">
    <jhi-alert></jhi-alert><modal-alert></modal-alert>
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }" class="header-fixed">
        <a class="uk-text-primary" style="font-size: larger">Phản hồi</a>
        </br>
        <div class="uk-margin-small-top">
            <button  class="md-btn md-btn-small" ng-click="refresh()">Làm mới</button>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-overflow-container uk-margin-bottom table-height-fixed">
                    <table class="hoverTable uk-table uk-table-align-vertical  uk-table-nowrap tablesorter tablesorter-altair table-fixed" id="commentId">
                        <thead>
                        <tr>
                            <th><th-content table="TABLES['commentId']" label="'Mã KH'"         column="'userCode'"></th-content></th>
                            <th><th-content table="TABLES['commentId']" label="'Số ĐT'"         column="'phone'"></th-content></th>
                            <th><th-content table="TABLES['commentId']" label="'Email'"         column="'email'"></th-content></th>
                            <th style="min-width: 150px !important;"><th-content table="TABLES['commentId']" label="'Khu vực'"       column="'areaName'"></th-content></th>
                            <th><th-content table="TABLES['commentId']" label="'Nội dung phản hồi'"  column="'commentContent'"></th-content></th>
                            <th><th-content table="TABLES['commentId']" label="'Ảnh đính kèm'"    column="'imageUrl'"></th-content></th>
                            <th><th-content table="TABLES['commentId']" label="'Ngày phản hồi'"         column="'created'"></th-content></th>
                        </tr>
                        <tr>
                            <td><default-filter table="TABLES['commentId']" column="'userCode'"></td>
                            <td><default-filter table="TABLES['commentId']" column="'phone'"></td>
                            <td><default-filter table="TABLES['commentId']" column="'email'"></td>
                            <td>
                                <selectize id="area"
                                           position="bottom"
                                           config="ComboBox['area'].config"
                                           options="ComboBox['area'].options"
                                           ng-model="ComboBox['area'].ngModel"
                                           table="ComboBox['area'].table"
                                           column="ComboBox['area'].column"
                                           scope-controller="ComboBox['area'].scope">
                                </selectize>
                            </td>
                            <td><default-filter table="TABLES['commentId']" column="'commentContent'"></td>
                            <td></td>
                            <td><date-picker-filter table="TABLES['commentId']" column="'created'"></date-picker-filter></td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="comment in comments" on-last-repeat ng-class="{'hoverRow': !comment.unRemove, 'custom-un-remove': comment.unRemove}" title="{{comment.unRemove}}">
                            <td>{{comment.userCode}}</td>
                            <td>{{comment.phone}}</td>
                            <td>{{comment.email}}</td>
                            <td>{{comment.areaName}}</td>
                            <td>{{comment.commentContent}}</td>
                            <td>
                                <a download="" href="{{comment.imageUrl}}" class="hover" target="_blank">
                                <img ng-if="comment.imageUrl" src="{{comment.imageUrl}}" class="hover" alt="Ảnh lỗi" width="40" height="40" />
                                </a>
                            </td>
                            <td>{{comment.created | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ts_pager" id="table_comment_pager">
                    <ul class="uk-pagination ts_pager">
                        <li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
                            <input ng-change="selectPageHandle('commentId')" id="comment_selectize_page" type="text"
                                   config="TABLES['commentId'].selectize_page_config" options="TABLES['commentId'].selectize_page_options"
                                   ng-model="TABLES['commentId'].selectize_page" name="TABLES['commentId'].selectize_page" selectize>
                        </li>
                        <li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('commentId')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('commentId')"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pageDisplay"></span></li>
                        <li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('commentId')"><i class="uk-icon-angle-right"></i></a></li>
                        <li><a href="javascript:void(0)" class="lastPage" ng-click="handleLastPage('commentId')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="{{pageSize}}">
                            <input ng-change="selectPageNumHandle('commentId')" id="comment_selectize_pageNum" type="text"
                                   config="TABLES['commentId'].selectize_pageNum_config" options="TABLES['commentId'].page_size_option"
                                   ng-model="TABLES['commentId'].selectize_pageNum" name="TABLES['commentId'].selectize_pageNum" selectize>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


