<div id="page_content">
    <form name="device_form" id="device_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="order"> <span data-translate="Quản lý Loại"></span> </a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <a class="uk-text-primary" ui-sref="order"> <span data-translate="Danh sách Loại"></span> </a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <span class="overflowLongText" value="order.name" is-input="false"></span>
            </span>
            <div class="uk-margin-small-top">
                <a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Device_Type_Update" ui-sref="order-edit({orderId:order.id})" class="md-btn md-btn-small">
                    <span class="uk-text-bold" data-translate="global.button.edit"></span>
                </a>
                <a  has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Device_Type_Create" ui-sref="order-create" class="md-btn md-btn-primary md-btn-small">
                    <span class="uk-text-bold" data-translate="global.button.create"></span>
                </a>
                <!-- <div style="padding-left: 16px" class="float-right">
                    <span ng-if="showRefresh" class="md-btn md-btn-primary md-btn-small" ng-click="refresh()"><span class="material-icons">cached</span>&nbsp;<span data-translate="global.button.refresh"></span> </span>
                    <span ng-if="!showRefresh" class="md-btn md-btn-small" ><span class="material-icons">cached</span>&nbsp;<span data-translate="global.button.refresh"></span></span>
                </div> -->
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-8-10">
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold ng-scope" data-translate="Tên sản phẩm"></label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                        <input readonly
                                               ng-model="order.name"
                                               id="name" name="name" type="text"
                                               class="md-input ng-isolate-scope md-input-processed" />
                                    </div>
                                </div>

                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold ng-scope" data-translate="Kho"></label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                        <input readonly
                                               ng-model="order.stock.name"
                                               id="stock" name="stock" type="text"
                                               class="md-input ng-isolate-scope md-input-processed" />
                                    </div>
                                </div>

                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold ng-scope" data-translate="Loại"></label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                        <input readonly
                                               ng-model="order.category.name"
                                               id="category" name="category" type="text"
                                               class="md-input ng-isolate-scope md-input-processed" />
                                    </div>
                                </div>
                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold">Giá</label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                        <input readonly
                                               ng-model="order.price"
                                               id="price" name="category" type="text"
                                               class="md-input ng-isolate-scope md-input-processed" />
                                    </div>
                                </div>
                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold">Số lượng</label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                        <input readonly
                                               ng-model="order.quantity"
                                               id="quantity" name="quantity" type="text"
                                               class="md-input ng-isolate-scope md-input-processed" />
                                    </div>
                                </div>

                                <br /> <br /> <br />
                                <div class="uk-width-small-1-3 uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold ng-scope" data-translate="device.deviceType.field.description"></label>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <div class="parsley-row">
                                <textarea ng-model="order.description"
                                          readonly
                                          data-parsley-whitespace="trim"
                                          data-parsley-maxlength-message="{{'global.messages.maxLength1000' | translate}}"
                                          data-parsley-maxlength="1000"
                                          type="text" name="description" id="description"
                                          style="border-width: 1px 1px 1px;"
                                          class="md-input ng-isolate-scope md-input-processed" md-input=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-medium-2-10">
                            <div class="user_heading_avatar" data-provides="fileinput"
                                 ng-mouseenter="user.mouseEnter = true"
                                 ng-mouseleave="user.mouseEnter = false" >

                                <img ng-if="order.image" class="uk-border-circle" ng-src="{{hostGW + order.image}}" alt="order image" width="200" height="200"/>
                                <img ng-if="!order.image" class="uk-border-circle" ng-src="assets/img/avatars/avatar.jpg" alt="order image" width="200" height="200"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
