<div id="page_content">
    <form name="screenplay_form" id="screenplay_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="screenplays" data-translate="admin.menu.screenplay"></a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
               	<a class="uk-text-primary" ui-sref="screenplay-detail({screenplayId: screenplay.id })"> {{screenplay.name}}</a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <span data-translate="global.button.edit"></span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Screenplay_Update"  ng-click="submit(false)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.save"></span></button>
                <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Screenplay_Update" ng-hide="screenplay.id == 1" ng-click="submit(true)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
                <a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Screenplay_View" ui-sref="screenplay-detail({screenplayId: screenplay.id})" class="md-btn md-btn-small">
                    <span class="uk-text-bold" data-translate="global.button.cancel"></span>
                </a>
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid " data-uk-grid-margin="">
                        <div class="uk-width-medium-8-10">
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label ></label> Tên kịch bản <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10 parsley-row">
                                    <input
                                            ng-required="true"
                                            data-parsley-required-message="{{'global.messages.required' | translate}}"
                                            data-parsley-maxlength="30"
                                            data-parsley-maxlength-message="{{'global.messages.maxLength30' | translate}}"
                                            data-parsley-whitespace="trim"
                                            ng-model="screenplay.name"
                                            class="md-input ng-isolate-scope md-input-processed" md-input="">
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label></label> Loại sản phẩm<span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10 parsley-row">
                                    <input id="deviceTypeCbb" name="deviceTypeCbb"
                                           ng-required="true"
                                           data-parsley-required-message="{{'admin.messages.required' | translate}}"
                                           data-parsley-trigger="focusin focusout"
                                           position="bottom"
                                           config="ComboBox['deviceTypeCbb'].config"
                                           options="ComboBox['deviceTypeCbb'].options"
                                           ng-model="screenplay.deviceTypeId"
                                           table="ComboBox['deviceTypeCbb'].table"
                                           column="ComboBox['deviceTypeCbb'].column"
                                           ng-model-object="selectedCbb.deviceType"
                                           ng-change="updateDeviceTypeCbb()"
                                           scope-controller="ComboBox['deviceTypeCbb'].scope" selectize>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label>Dòng sản phẩm</label>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10 parsley-row">
                                    <input id="deviceModelCbb" name="deviceModelCbb"
                                           ng-disabled="screenplay.deviceTypeId == null ? true : false"
                                           data-parsley-trigger="focusin focusout"
                                           position="bottom"
                                           config="ComboBox['deviceModelCbb'].config"
                                           options="ComboBox['deviceModelCbb'].options"
                                           ng-model="screenplay.deviceModelIds"
                                           table="ComboBox['deviceModelCbb'].table"
                                           column="ComboBox['deviceModelCbb'].column"
                                           ng-model-object="selectedCbb.deviceModel"
                                           ng-change="updateDeviceModelCbb()"
                                           scope-controller="ComboBox['deviceModelCbb'].scope" selectize>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <table class="hoverTable uk-table uk-table-align-vertical uk-table-striped uk-table-nowrap tablesorter tablesorter-altair">
                                        <thead>
                                        <th style="color: #0a0a0a"><b>Thông số</b></th>
                                        <th style="color: #0a0a0a"><b>Giá trị</b></th>
                                        <th style="color: #0a0a0a"><b>Đơn vị</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Độ ấm</td>
                                            <td><input  type="number"  style="width: 300px;"
                                                        ng-model="screenplay.tempColor"
                                                        data-parsley-type="integer"
                                                        data-parsley-min-message ="{{'global.messages.tempColor' | translate}}"
                                                        data-parsley-max-message = "{{'global.messages.tempColor' | translate}}"
                                                        data-parsley-min="100"
                                                        data-parsley-max="20000"
                                                        data-parsley-type-message="{{'global.messages.tempColor' | translate}}"
                                                        class="md-input ng-isolate-scope md-input-processed"  input-long-text></td>
                                            <td>K</td>
                                        </tr>
                                        <tr>
                                            <td>Độ sáng</td>
                                            <td><input type="number"  style="width: 300px;"
                                                       ng-model="screenplay.brightness"
                                                       data-parsley-type="integer"
                                                       data-parsley-min-message ="{{'global.messages.brightness_or_saturation' | translate}}"
                                                       data-parsley-max-message = "{{'global.messages.brightness_or_saturation' | translate}}"
                                                       data-parsley-min="0"
                                                       data-parsley-max="100"
                                                       data-parsley-type-message="{{'global.messages.brightness_or_saturation' | translate}}"
                                                       class="md-input ng-isolate-scope md-input-processed"  input-long-text></td>
                                            <td>%</td>
                                        </tr>
                                        <tr>
                                            <td>Màu sắc</td>
                                            <td><input type="text" style="width: 300px;"
                                                       ng-model="screenplay.color"
                                                       data-parsley-pattern="^#[a-zA-Z0-9]{6,6}$"
                                                       data-parsley-pattern-message="{{'global.messages.color' | translate}}"
                                                       class="md-input ng-isolate-scope md-input-processed"  input-long-text></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Độ bão hòa</td>
                                            <td><input type="number"  style="width: 300px;"
                                                       ng-model="screenplay.saturation"
                                                       data-parsley-type="integer"
                                                       data-parsley-min-message ="{{'global.messages.brightness_or_saturation' | translate}}"
                                                       data-parsley-max-message = "{{'global.messages.brightness_or_saturation' | translate}}"
                                                       data-parsley-min="0"
                                                       data-parsley-max="100"
                                                       data-parsley-type-message="{{'global.messages.brightness_or_saturation' | translate}}"
                                                       class="md-input ng-isolate-scope md-input-processed"  input-long-text></td>
                                            <td>%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10" >
                            <div class="user_heading_avatar custom-avatar-center" data-provides="fileinput"
                                 ng-mouseenter="user.mouseEnter = true"
                                 ng-mouseleave="user.mouseEnter = false">

                                <img ng-if="screenplay.avatar || user.userAvatarBase64" class="uk-border-circle"
                                     ng-src="{{user.userAvatarBase64 ? user.userAvatarBase64 : hostGW + screenplay.avatar}}"
                                     alt="scenes avatar" width="200" height="200"/>
                                <img ng-if="!screenplay.avatar && !user.userAvatarBase64" class="uk-border-circle"
                                     ng-src="assets/img/avatars/avatar.jpg" alt="scenes avatar" width="200" height="200"/>

                                <div class="user_avatar_controls">
                                    <span class="btn-file uk-form-file" title="Maximum size: 64K">
                                        <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                        <input-upload create="true"></input-upload>
                                    </span>
                                    <a ng-show="user.mouseEnter && (screenplay.avatar || user.userAvatarBase64)"
                                       ng-click="deleteAvatar()" class="btn-file fileinput-exists js-uk-prevent"
                                       title="Delete"><i class="material-icons">&#xE5CD;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>