<div id="page_content">
    <form name="screenplay_form" id="screenplay_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="screenplays" data-translate="admin.menu.screenplay"></a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <span>{{screenplay.name}}</span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <a  has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Screenplay_Update" ui-sref="screenplay-edit({screenplayId: screenplay.id})" class="md-btn md-btn-primary md-btn-small">
                    <span class="uk-text-bold" data-translate="global.button.edit"></span>
                </a>
                <a  has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Screenplay_Create" ui-sref="screenplay-create" class="md-btn md-btn-primary md-btn-small">
                    <span class="uk-text-bold" data-translate="global.button.create"></span>
                </a>
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid " data-uk-grid-margin="">
                        <div class="uk-width-medium-8-10">
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label ></label> Tên kịch bản <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10">
                                    <div class="parsley-row">
                                        <input readonly
                                               class="md-input ng-isolate-scope md-input-processed"
                                               type="text" ng-model="screenplay.name" input-long-text/>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label>Loại sản phẩm</label> <span class="req"> *</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10 parsley-row">
                                    <input readonly
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" ng-model="screenplay.deviceTypeName" input-long-text/>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-2-10">
                                    <div class="custom-label">
                                        <label>Dòng sản phẩm</label>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-6-10 parsley-row">
                                    <div class="custom-box" ng-if="screenplay.deviceModelIds && screenplay.deviceModelIds.length >0">
										<span ng-repeat="deviceModel in screenplay.deviceModels">
											<a class="md-btn md-btn-small custom-item" >{{deviceModel.name}}</a>
										</span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-small-2-3 uk-width-medium-4-5">
                                    <table class="hoverTable uk-table uk-table-align-vertical uk-table-striped uk-table-nowrap tablesorter tablesorter-altair">
                                        <thead>
                                        <th style="color: #0a0a0a"><b>Thông số</b></th>
                                        <th style="color: #0a0a0a"><b>Giá trị</b></th>
                                        <th style="color: #0a0a0a"><b>Đơn vị</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Độ ấm</td>
                                            <td><input readonly
                                                       type="number"  style="width: 300px;"
                                                       class="md-input ng-isolate-scope md-input-processed"
                                                       ng-model="screenplay.tempColor" input-long-text/></td>
                                            <td>K</td>
                                        </tr>
                                        <tr>
                                            <td>Độ sáng</td>
                                            <td><input readonly
                                                       type="number"  style="width: 300px;"
                                                       class="md-input ng-isolate-scope md-input-processed"
                                                       ng-model="screenplay.brightness" input-long-text/></td>
                                            <td>%</td>
                                        </tr>
                                        <tr>
                                            <td>Màu sắc</td>
                                            <td><input readonly
                                                       type="text"  style="width: 300px;"
                                                       class="md-input ng-isolate-scope md-input-processed"
                                                       ng-model="screenplay.color" input-long-text/></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Độ bão hòa</td>
                                            <td><input readonly
                                                       type="number" style="width: 300px;"
                                                       class="md-input ng-isolate-scope md-input-processed"
                                                       ng-model="screenplay.saturation" input-long-text/></td>
                                            <td>%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10">
                            <div class="user_heading_avatar" data-provides="fileinput"
                                 ng-mouseenter="user.mouseEnter = true"
                                 ng-mouseleave="user.mouseEnter = false" >

                                <img ng-if="screenplay.avatar" class="uk-border-circle" ng-src="{{hostGW + screenplay.avatar}}" alt="scenes avatar" width="200" height="200"/>
                                <img ng-if="!screenplay.avatar" class="uk-border-circle" ng-src="assets/img/avatars/avatar.jpg" alt="scenes avatar" width="200" height="200"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>